.loginText{
    font-size: 120px;
    line-height: 1.06;
}

.maskFrame{
    font-size: 100px;
    line-height: 1.06;
}

.mask{
    height: 106px;
    position: relative;
    overflow: hidden;
}

.mask .maskText{
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}

.mask .maskText[data-show]{
    transform: translateY(-100%);
    transition: 0.5s transform ease-in-out;
}

.mask .maskText[data-up]{
    transform: translateY(-200%);
    transition: 0.5s transform ease-in-out;
}

.mask .maskText:nth-child(1){
    background-image:
    linear-gradient(
        45deg,
        #0ECFFE 0%,
        #07A6F1 100%
    );
}

.mask .maskText:nth-child(2){
    background-image:
    linear-gradient(
        45deg,
        #18E198 0%,
        #0EC15D 100%
    );
}

.mask .maskText:nth-child(3){
    background-image:
    linear-gradient(
        45deg,
        #8A7CFB 0%,
        #633E9C 100%
    );
}

.mask .maskText:nth-child(4){
    background-image:
    linear-gradient(
        45deg,
        #FA7671 0%,
        #F45F7F 100%
    );
}
