:root {
    --content-width: 850px;
}

.slider {
    width: 200px;
    height: auto;
    background-color: #101010;
}

.content {
    width: var(--content-width);
    min-height: calc(100vh - 130px);
    height: auto;
    background-color: #101010;
}