:root{
    --loading-grey: #181818;
    --li-grey: #141414;
}

.videoFrame{
    width: 100%;
    height: auto;
}

.videoList{
    width: 100%;
    height: auto;
    padding: 0px 5px;
    box-sizing: border-box;
}

.videoList li{
    width: 100%;
    height: 180px;
    list-style: none;
    margin: 5px 0px;
    background-color: var(--li-grey);
}

.videoList li a{
    width: 100%;
    height: 180px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.videoList li a .image{
    width: 240px;
    height: 180px;
}

.videoList li a .image img{
    width: 240px;
    height: 180px;
    object-fit: cover;
}

.videoList li a .text{
    --text-width: calc(100% - 260px);
    width: var(--text-width);
    height: 180px;
    margin: 0px 10px;
}

.videoList li a .text .title{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

.videoList li a .text .title .titleText{
    width: 100%;
    min-height: 60px;
    height: auto;
    line-height: 60px;
    font-size: 24px;
}

.videoList li a .text .time{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.videoList li a .text .time .timeText{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.loading a .image,
.loading a .text .title .titleText,
.loading a .text .time .timeText{
    background-color: var(--loading-grey) !important;
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 60%
    ) var(--loading-grey);
    background-size: 1680px 180px;
}

.loading a .image{
    background-position-x: -1262px;
    background-position-y: 0px;
    animation: 1.5s loading-image
        ease-in-out infinite;
}

@keyframes loading-image{
    to{
        background-position-x: 418px;
    }
}

.loading a .text .title .titleText,
.loading a .text .time .timeText{
    border-radius: 4px;
    background-position-x: -1512px;
    animation: 1.5s loading-text
        ease-in-out infinite;
}

@keyframes loading-text{
    to{
        background-position-x: 168px;
    }
}

.loading a .text .title .titleText{
    background-position-y: -30px;
}

.loading a .text .time .timeText{
    background-position-y: -135px;
}
