{{ define "content" }}

<link rel="stylesheet" href="css/videos.css">

<div class="videoFrame" page="{{ .Page }}">
    <ul class="videoList">
        {{ range .Videos }}
        <li>
            <a href="/videos/{{ .Vid }}">
                <div class="image">
                    <img src="{{.Vcover}}"></img>
                </div>
                <div class="text">
                    <div class="title">
                        <p class="titleText">{{ .Vtitle }}</p>
                    </div>
                    <div class="time">
                        <p class="timeText">{{ .Vtime.Format "2006-01-02 15:04:05" }}</p>
                    </div>
                </div>
            </a>
        </li>
        {{ end }}

        <li class="loading">
            <a href="">
                <div class="image">
                </div>
                <div class="text">
                    <div class="title">
                        <p class="titleText"></p>
                    </div>
                    <div class="time">
                        <p class="timeText"></p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <!-- <font>
        <p>attr(page)</p>
    </font> -->
</div>
{{ end }}
